<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kyfz.mapper.KyfzMatchMapper">
    
    <resultMap type="KyfzMatch" id="KyfzMatchResult">
        <result property="matchId"    column="match_id"    />
        <result property="expertAccount"    column="expert_account"    />
        <result property="requirementId"    column="requirement_id"    />
        <result property="matchScore"    column="match_score"    />
        <result property="thesisId"    column="thesis_id"    />
        <result property="workId"    column="work_id"    />
        <result property="certificateId"    column="certificate_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        
        <!-- 按需求添加 -->
        <result property="expertName"    column="expert_name"    />
        <result property="researchDirection"    column="research_direction"    />
        <result property="projectName"    column="project_name"    />
        <result property="client"    column="client"    />
        <result property="requirementKeywords"    column="requirement_keywords"    />
        <result property="teamMembers"    column="team_members"    />
        <result property="score"    column="score"    />
    </resultMap>

    <sql id="selectKyfzMatchVo">
        select match_id, expert_account, requirement_id, match_score, thesis_id, work_id, certificate_id, project_id, create_by, create_time, update_by, update_time from kyfz_match
    </sql>
    
    <!-- 按照需求添加的 -->
    <sql id="selectKyfzMatchVo2">
        select m.match_id, m.expert_account, m.requirement_id,m.project_id,m.thesis_id,m.certificate_id,m.work_id ,m.match_score,
        m.project_id,r.project_name,r.client,e.expert_name,e.research_direction,t.team_members,r.requirement_keywords,m.score
        from kyfz_match m
        left join kyfz_requirement r on m.requirement_id=r.requirement_id
        left join kyfz_expert e on m.expert_account=e.expert_account
        left join kyfz_team t on t.team_id=e.expert_teams
    </sql>

    <select id="selectKyfzMatchList" parameterType="KyfzMatch" resultMap="KyfzMatchResult">
    <include refid="selectKyfzMatchVo2"/>
    <where>

        <if test="projectName != null and projectName != ''">
            AND r.project_name LIKE CONCAT('%', #{projectName}, '%')
        </if>
        <if test="client != null and client != ''">
            AND r.client LIKE CONCAT('%', #{client}, '%')
        </if>
        <if test="expertName != null and expertName != ''">
            AND e.expert_name LIKE CONCAT('%', #{expertName}, '%')
        </if>
        <if test="researchDirection != null and researchDirection != ''">
            AND e.research_direction LIKE CONCAT('%', #{researchDirection}, '%')
        </if>
        <if test="matchScore != null and matchScore != ''">
            AND match_score LIKE CONCAT('%', #{matchScore}, '%') 
        </if>
    </where>
</select>
    
    <select id="selectKyfzMatchByMatchId" parameterType="Long" resultMap="KyfzMatchResult">
        <include refid="selectKyfzMatchVo"/>
        where match_id = #{matchId}
    </select>
        
    <insert id="insertKyfzMatch" parameterType="KyfzMatch" useGeneratedKeys="true" keyProperty="matchId">
        insert into kyfz_match
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="expertAccount != null">expert_account,</if>
            <if test="requirementId != null">requirement_id,</if>
            <if test="matchScore != null">match_score,</if>
            <if test="thesisId != null">thesis_id,</if>
            <if test="workId != null">work_id,</if>
            <if test="certificateId != null">certificate_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="expertAccount != null">#{expertAccount},</if>
            <if test="requirementId != null">#{requirementId},</if>
            <if test="matchScore != null">#{matchScore},</if>
            <if test="thesisId != null">#{thesisId},</if>
            <if test="workId != null">#{workId},</if>
            <if test="certificateId != null">#{certificateId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateKyfzMatch" parameterType="KyfzMatch">
        update kyfz_match
        <trim prefix="SET" suffixOverrides=",">
            <if test="expertAccount != null">expert_account = #{expertAccount},</if>
            <if test="requirementId != null">requirement_id = #{requirementId},</if>
            <if test="matchScore != null">match_score = #{matchScore},</if>
            <if test="thesisId != null">thesis_id = #{thesisId},</if>
            <if test="workId != null">work_id = #{workId},</if>
            <if test="certificateId != null">certificate_id = #{certificateId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where match_id = #{matchId}
    </update>

    <delete id="deleteKyfzMatchByMatchId" parameterType="Long">
        delete from kyfz_match where match_id = #{matchId}
    </delete>

    <delete id="deleteKyfzMatchByMatchIds" parameterType="String">
        delete from kyfz_match where match_id in 
        <foreach item="matchId" collection="array" open="(" separator="," close=")">
            #{matchId}
        </foreach>
    </delete>

    <!-- 按照需求搜索详细信息 -->
    <select id="selectKyfzMatchDetailByMatchId" parameterType="Long" resultMap="KyfzMatchResult">
        <include refid="selectKyfzMatchVo2"/>
        where match_id = #{matchId}
    </select>

    <!-- 通过项目id搜索项目表中的项目名称 -->
    <select id="selectProjectName" parameterType="Long" resultType="String">
    select project_name from kyfz_project
        where project_id = #{projectId}
    </select>


    <!-- 通过论文id搜索论文表中的项目名称 -->
    <select id="selectThesisName" parameterType="Long" resultType="String">
    select thesis_name from kyfz_thesis
        where thesis_id = #{thesisId}
    </select>

    <!-- 通过著作id搜索著作表中的项目名称 -->
    <select id="selectWorkName" parameterType="Long" resultType="String">
    select work_name from kyfz_work
        where work_id = #{workId}
    </select>

    <!-- 通过著作id搜索著作表中的项目名称 -->
    <select id="selectCertificateName" parameterType="Long" resultType="String">
    select certificate_name from kyfz_certificate
        where certificate_id = #{certificateId}
    </select>


    <!-- 批量推送 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO kyfz_push_record (match_id, push_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.matchId}, #{item.pushTime})
        </foreach>
    </insert>



    <update id="updatePushRecord" parameterType="KyfzMatch">
        update kyfz_match
        <trim prefix="SET" suffixOverrides=",">
            <if test="score != null">score = #{score}</if>
        </trim>
        where match_id = #{matchId}
    </update>
</mapper>