<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kyfz.mapper.KyfzMatchMapper">
    <resultMap type="KyfzMatch" id="KyfzMatchResult">
        <result property="matchId" column="match_id" />
        <result property="expertAccount" column="expert_account" />
        <result property="requirementId" column="requirement_id" />
        <result property="matchScore" column="match_score" />
        <result property="thesisId" column="thesis_id" />
        <result property="awardId" column="award_id" />
        <result property="intellectualPropertyId" column="intellectual_property_id" />
        <result property="projectId" column="project_id" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="pushstatus" column="push_status" />
        <result property="userId" column="user_id" />
        <result property="otherResultId" column="other_result_id" />
        <!-- 按需求添加 -->
        <result property="expertName" column="expert_name" />
        <result property="expertId" column="expert_id" />
        <result property="researchDirection" column="research_direction" />
        <result property="projectName" column="project_name" />
        <result property="client" column="client" />
        <result property="requirementKeywords" column="requirement_keywords" />
        <result property="teamMembers" column="team_members" />
        <result property="score" column="score" />
        <result property="markProject" column="mark_project" />
        <result property="markThesis" column="mark_thesis" />
        <result property="markWork" column="mark_work" />
        <result property="markCertificate" column="mark_certificate" />
        <result property="minMatchScore" column="match_score" />
        <result property="maxMatchScore" column="match_score" />
    </resultMap>
    <sql id="selectKyfzMatchVo">
        select match_id, expert_account, requirement_id, match_score, thesis_id, award_id, intellectual_property_id, project_id, create_by, create_time, update_by, update_time,push_status from kyfz_match
    </sql>
    <!-- 按照需求添加的 -->
    <sql id="selectKyfzMatchVo2">
        select m.match_id, m.expert_account, m.requirement_id,m.project_id,m.thesis_id,m.intellectual_property_id,m.award_id ,m.match_score,m.push_status,
        m.project_id,r.project_name,r.client,e.expert_id,e.expert_name,e.research_direction,t.team_members,r.requirement_keywords,m.score
        from kyfz_match m
        left join kyfz_requirement r on m.requirement_id=r.requirement_id
        left join kyfz_expert e on m.expert_account=e.expert_account
        left join kyfz_team t on t.team_id=e.expert_teams
        order by m.match_id desc
    </sql>
    <select id="selectKyfzMatchList" parameterType="KyfzMatch" resultMap="KyfzMatchResult">
        select m.user_id,m.match_id, m.expert_account, m.requirement_id,m.project_id,m.thesis_id,m.intellectual_property_id,m.award_id ,m.match_score,m.push_status,
        m.project_id,r.project_name,r.client,e.expert_id,e.expert_name,e.research_direction,r.requirement_keywords,m.score
        from kyfz_match m
        left join kyfz_requirement r on r.requirement_id = m.requirement_id
        left join kyfz_expert e on e.expert_account= m.expert_account
        left join sys_user u on m.user_id=u.user_id
        left join sys_dept d on d.dept_id=u.dept_id
        <where>
            <if test="requirementId != null and requirementId != ''">
                AND m.requirement_id LIKE CONCAT('%', #{requirementId}, '%')
            </if>
            <if test="projectName != null and projectName != ''">
                AND r.project_name LIKE CONCAT('%', #{projectName}, '%')
            </if>
            <if test="client != null and client != ''">
                AND r.client LIKE CONCAT('%', #{client}, '%')
            </if>
            <if test="expertName != null and expertName != ''">
                AND e.expert_name LIKE CONCAT('%', #{expertName}, '%')
            </if>
            <if test="researchDirection != null and researchDirection != ''">
                AND e.research_direction LIKE CONCAT('%', #{researchDirection}, '%')
            </if>
            <if test="minMatchScore != null and minMatchScore != ''">
                AND match_score &gt; #{minMatchScore} 
            </if>
            <if test="maxMatchScore != null and maxMatchScore != ''">
                AND match_score &lt; #{maxMatchScore}
            </if>
            <if test="pushstatus != null and pushstatus != ''">
                AND m.push_status LIKE CONCAT('%', #{pushstatus}, '%')
            </if>
            ${params.dataScope}
        </where>
        order by m.match_id desc
    </select>
    <select id="selectKyfzMatchByMatchId" parameterType="Long" resultMap="KyfzMatchResult">
        <include refid="selectKyfzMatchVo"/>
        where match_id = #{matchId}
    </select>
    <insert id="insertKyfzMatch" parameterType="KyfzMatch" useGeneratedKeys="true" keyProperty="matchId">
        insert into kyfz_match
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="expertAccount != null">expert_account,</if>
            <if test="requirementId != null">requirement_id,</if>
            <if test="matchScore != null">match_score,</if>
            <if test="thesisId != null">thesis_id,</if>
            <if test="awardId != null">award_id,</if>
            <if test="intellectualPropertyId != null">intellectual_property_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="expertAccount != null">#{expertAccount},</if>
            <if test="requirementId != null">#{requirementId},</if>
            <if test="matchScore != null">#{matchScore},</if>
            <if test="thesisId != null">#{thesisId},</if>
            <if test="awardId != null">#{awardId},</if>
            <if test="intellectualPropertyId != null">#{intellectualPropertyId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>
    <update id="updateKyfzMatch" parameterType="KyfzMatch">
        update kyfz_match
        <trim prefix="SET" suffixOverrides=",">
            <if test="expertAccount != null">expert_account = #{expertAccount},</if>
            <if test="requirementId != null">requirement_id = #{requirementId},</if>
            <if test="matchScore != null">match_score = #{matchScore},</if>
            <if test="thesisId != null">thesis_id = #{thesisId},</if>
            <if test="awardId != null">award_id = #{awardId},</if>
            <if test="intellectualPropertyId != null">intellectual_property_id = #{intellectualPropertyId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="pushstatus != null">push_status = #{pushstatus},</if>
        </trim>
        where match_id = #{matchId}
    </update>
    <delete id="deleteKyfzMatchByMatchId" parameterType="Long">
        delete from kyfz_match where match_id = #{matchId}
    </delete>
    <delete id="deleteKyfzMatchByMatchIds" parameterType="String">
        delete from kyfz_match where match_id in
        <foreach item="matchId" collection="array" open="(" separator="," close=")">
            #{matchId}
        </foreach>
    </delete>
    <!-- 按照需求搜索详细信息 -->
    <select id="selectKyfzMatchDetailByMatchId" parameterType="Long" resultMap="KyfzMatchResult">
        select match_id,m.requirement_id,m.match_score,m.award_id,m.intellectual_property_id,m.thesis_id,m.project_id,m.project_id,m.thesis_id,m.intellectual_property_id,m.award_id,m.mark_work,m.mark_thesis,m.mark_project,m.mark_certificate,m.score,
        r.project_name, r.client, 		
        e.expert_name, e.research_direction,e.expert_id,
        t.team_members
        from kyfz_match m
        left join kyfz_requirement r on r.requirement_id=m.requirement_id
        left join kyfz_expert e on e.expert_account= m.expert_account
        left join kyfz_team t on expert_teams=team_id
        left join sys_user u on m.user_id=u.user_id
        left join sys_dept d on d.dept_id=u.dept_id
        where match_id = #{matchId} and ${params.dataScope}
    </select>
    <!-- 通过项目id搜索项目表中的项目名称 -->
    <select id="selectProjectName" parameterType="Long" resultType="String">
        select project_name from kyfz_project
        where project_id = #{projectId}
    </select>
    <!-- 通过论文id搜索论文表中的项目名称 -->
    <select id="selectThesisName" parameterType="Long" resultType="String">
        select thesis_name from kyfz_thesis
        where thesis_id = #{thesisId}
    </select>
    <!-- 通过著作id搜索著作表中的项目名称 -->
    <select id="selectAwardName" parameterType="Long" resultType="String">
        select award_name from kyfz_award
        where award_id = #{awardId}
    </select>
    <!-- 通过著作id搜索著作表中的项目名称 -->
    <select id="selectCertificateName" parameterType="Long" resultType="String">
        select certificate_name from kyfz_certificate
        where intellectual_property_id = #{intellectualPropertyId}
    </select>
    <!-- 批量推送 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO kyfz_push_record (match_id, push_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.matchId}, #{item.pushTime})
        </foreach>
    </insert>
    <update id="updatePushRecord" parameterType="KyfzMatch">
        update kyfz_match
        <trim prefix="SET" suffixOverrides=",">
            <if test="score != null">score = #{score}</if>
        </trim>
        where match_id = #{matchId}
    </update>
    <!-- 根据需求删除匹配表里的数据 -->
    <delete id="deleteKyfzMatchByrequirementIds" parameterType="String">
        delete from kyfz_match where requirement_id in
        <foreach item="requirementId" collection="array" open="(" separator="," close=")">
            #{requirementId}
        </foreach>
    </delete>
    <!-- 根据需求删除匹配表里的数据 -->
    <delete id="deleteKyfzMatchByrequirementId" parameterType="Long">
        delete from kyfz_match where requirement_id = #{requirementId}
    </delete>
    <update id="updateKyfzMatchByMatchIds_pushState" parameterType="String">
            update kyfz_match
            set push_status = '已推送'
            where match_id in
        <foreach item="matchId" collection="array" open="(" separator="," close=")">
            #{matchId}
        </foreach>
    </update>
    <!-- 匹配api返回的json数据写入数据库 -->
    <insert id="insert_json_KyfzMatch" parameterType="KyfzMatch" useGeneratedKeys="true" keyProperty="matchId">
        INSERT INTO kyfz_match
        (expert_account, requirement_id, match_score, thesis_id, intellectual_property_id, project_id, create_by, create_time, update_by, update_time, user_id, other_result_id)
        VALUES
        <foreach item="item" collection="list" separator=",">
        (
        #{item.expertAccount},
        #{item.requirementId},
        #{item.matchScore},
        #{item.thesisId},
        #{item.intellectualPropertyId},
        #{item.projectId},
        #{item.createBy},
        #{item.createTime},
        #{item.updateBy},
        #{item.updateTime},
        #{item.userId},
        #{item.otherResultId}
        )
    </foreach>
    </insert>
</mapper>