<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kyfz.mapper.KyfzExpertMapper">
    <resultMap type="KyfzExpert" id="KyfzExpertResult">
        <result property="expertId" column="expert_id" />
        <result property="expertAccount" column="expert_account" />
        <result property="expertName" column="expert_name" />
        <result property="expertPosition" column="expert_position" />
        <result property="expertAffiliation" column="expert_affiliation" />
        <result property="primaryDiscipline" column="primary_discipline" />
        <result property="secondaryDiscipline" column="secondary_discipline" />
        <result property="tertiaryDiscipline" column="tertiary_discipline" />
        <result property="researchDirection" column="research_direction" />
        <result property="thesisId" column="thesis_id" />
        <result property="projectId" column="project_id" />
        <result property="certificateId" column="certificate_id" />
        <result property="workId" column="work_id" />
        <result property="requirementId" column="requirement_id" />
        <result property="expertTeams" column="expert_teams" />
        <result property="teamMembers" column="team_members" />
        <result property="markProject" column="mark_project" />
        <result property="markThesis" column="mark_thesis" />
        <result property="markWork" column="mark_work" />
        <result property="markCertificate" column="mark_certificate" />
        <result property="teamMember" column="team_member" />
        <result property="expertSignificance" column="expert_significance" />
        <result property="matchId" column="match_id" />
        <result property="intellectualPropertyId" column="intellectual_property_id" />
        <result property="awardsId" column="awards_id" />
        <result property="otherResultsId" column="other_results_id" />
        <result property="categoryId" column="category_id" />
        <result property="categoryNames" column="category_Names" />
    </resultMap>
    <sql id="selectKyfzExpertVo">
        select expert_id, expert_account, expert_name, expert_position, expert_affiliation, primary_discipline, secondary_discipline, tertiary_discipline, research_direction, thesis_id, 
        project_id, intellectual_property_id, awards_id, requirement_id, expert_teams ,team_members,expert_significance,category_id
        from kyfz_expert e
        left join kyfz_team t on t.team_id=e.expert_teams
    </sql>
    <select id="selectKyfzExpertList" parameterType="KyfzExpert" resultMap="KyfzExpertResult">
        <include refid="selectKyfzExpertVo"/>
        <where>
            <if test="expertId != null  and expertId != ''"> and expert_id = #{expertId}</if>
            <if test="expertAccount != null  and expertAccount != ''"> and expert_account = #{expertAccount}</if>
            <if test="expertName != null  and expertName != ''"> and expert_name like concat('%', #{expertName}, '%')</if>
            <if test="expertPosition != null  and expertPosition != ''"> and expert_position like concat('%', #{expertPosition}, '%')</if>
            <if test="expertAffiliation != null  and expertAffiliation != ''"> and expert_affiliation like concat('%', #{expertAffiliation}, '%')</if>
            <if test="primaryDiscipline != null  and primaryDiscipline != ''"> and primary_discipline = #{primaryDiscipline}</if>
            <if test="secondaryDiscipline != null  and secondaryDiscipline != ''"> and secondary_discipline = #{secondaryDiscipline}</if>
            <if test="tertiaryDiscipline != null  and tertiaryDiscipline != ''"> and tertiary_discipline = #{tertiaryDiscipline}</if>
            <if test="researchDirection != null  and researchDirection != ''"> and research_direction like concat('%', #{researchDirection}, '%')</if>
            <if test="thesisId != null  and thesisId != ''"> and thesis_id = #{thesisId}</if>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="intellectualPropertyId != null  and intellectualPropertyId != ''"> and intellectual_property_id = #{intellectualPropertyId}</if>
            <if test="awardsId != null  and awardsId != ''"> and awards_id = #{awardsId}</if>
            <if test="requirementId != null  and requirementId != ''"> and requirement_id = #{requirementId}</if>
            <if test="expertTeams != null  and expertTeams != ''"> and expert_teams = #{expertTeams}</if>
            <if test="categoryId != null and categoryId != ''"> AND FIND_IN_SET(#{categoryId}, SUBSTRING_INDEX(category_id, '、', -1))</if>
        </where>
            ORDER BY CASE
                WHEN expert_position = '教授' THEN 0
                WHEN expert_position = '副教授' THEN 1
                WHEN expert_position = '主任医师' THEN 2
                WHEN expert_position = '主治医师' THEN 3
                WHEN expert_position = '医师' THEN 4
                WHEN expert_position = '讲师（高校）' THEN 5
                ELSE 6 
            END
    </select>
    <select id="selectKyfzExpertByExpertId" parameterType="Long" resultMap="KyfzExpertResult">
        <include refid="selectKyfzExpertVo"/>
        where expert_id = #{expertId}
    </select>
    <insert id="insertKyfzExpert" parameterType="KyfzExpert" useGeneratedKeys="true" keyProperty="expertId">
        <selectKey keyProperty="expertId" resultType="Long" order="BEFORE">
            SELECT (MAX(expert_id) + 1) AS expertId FROM kyfz_expert
        </selectKey>
        insert into kyfz_expert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            expert_id,
            <if test="expertAccount != null">expert_account,</if>
            <if test="expertName != null">expert_name,</if>
            <if test="expertPosition != null">expert_position,</if>
            <if test="expertAffiliation != null">expert_affiliation,</if>
            <if test="primaryDiscipline != null">primary_discipline,</if>
            <if test="secondaryDiscipline != null">secondary_discipline,</if>
            <if test="tertiaryDiscipline != null">tertiary_discipline,</if>
            <if test="researchDirection != null">research_direction,</if>
            <if test="thesisId != null">thesis_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="intellectualPropertyId != null">intellectual_property_id,</if>
            <if test="awardsId != null">awards_id,</if>
            <if test="requirementId != null">requirement_id,</if>
            <if test="expertTeams != null">expert_teams,</if>
            expert_significance
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{expertId},
            <if test="expertAccount != null">#{expertAccount},</if>
            <if test="expertName != null">#{expertName},</if>
            <if test="expertPosition != null">#{expertPosition},</if>
            <if test="expertAffiliation != null">#{expertAffiliation},</if>
            <if test="primaryDiscipline != null">#{primaryDiscipline},</if>
            <if test="secondaryDiscipline != null">#{secondaryDiscipline},</if>
            <if test="tertiaryDiscipline != null">#{tertiaryDiscipline},</if>
            <if test="researchDirection != null">#{researchDirection},</if>
            <if test="thesisId != null">#{thesisId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="intellectualPropertyId != null">#{intellectualPropertyId},</if>
            <if test="awardsId != null">#{awardsId},</if>
            <if test="requirementId != null">#{requirementId},</if>
            <if test="expertTeams != null">#{expertTeams},</if>
            '有效'
        </trim>
    </insert>
    <update id="updateKyfzExpert" parameterType="KyfzExpert">
        update kyfz_expert
        <trim prefix="SET" suffixOverrides=",">
            <if test="expertAccount != null">expert_account = #{expertAccount},</if>
            <if test="expertName != null">expert_name = #{expertName},</if>
            <if test="expertPosition != null">expert_position = #{expertPosition},</if>
            <if test="expertAffiliation != null">expert_affiliation = #{expertAffiliation},</if>
            <if test="primaryDiscipline != null">primary_discipline = #{primaryDiscipline},</if>
            <if test="secondaryDiscipline != null">secondary_discipline = #{secondaryDiscipline},</if>
            <if test="tertiaryDiscipline != null">tertiary_discipline = #{tertiaryDiscipline},</if>
            <if test="researchDirection != null">research_direction = #{researchDirection},</if>
            <if test="thesisId != null">thesis_id = #{thesisId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="intellectualPropertyId != null">intellectual_property_id = #{intellectualPropertyId},</if>
            <if test="awardsId != null">awards_id = #{awardsId},</if>
            <if test="requirementId != null">requirement_id = #{requirementId},</if>
            <if test="expertTeams != null">expert_teams = #{expertTeams},</if>
            <if test="expertSignificance != null">expert_significance = #{expertSignificance},</if>
        </trim>
        where expert_id = #{expertId}
    </update>
    <delete id="deleteKyfzExpertByExpertId" parameterType="Long">
        delete from kyfz_expert where expert_id = #{expertId}
    </delete>
    <delete id="deleteKyfzExpertByExpertIds" parameterType="String">
        delete from kyfz_expert where expert_id in
        <foreach item="expertId" collection="array" open="(" separator="," close=")">
            #{expertId}
        </foreach>
    </delete>
    <!-- 通过专家账号搜索 -->
    <select id="selectKyfzExpertByExpertAccount" parameterType="String" resultMap="KyfzExpertResult">
        select expert_id, expert_account, expert_name, expert_position, expert_affiliation, 
        primary_discipline, secondary_discipline, tertiary_discipline, research_direction, 
        thesis_id, project_id, intellectual_property_id, awards_id, requirement_id, expert_teams 
        from kyfz_expert
        where expert_account = #{expertAccount}
    </select>
    <update id="updateMarkProject" parameterType="KyfzExpert">
        UPDATE kyfz_match
        SET mark_project = CONCAT_WS('、', 
        CASE 
            WHEN mark_project IS NULL OR TRIM(mark_project) = '' THEN NULL 
            ELSE TRIM(BOTH ' ' FROM mark_project) 
        END, 
        #{markProject}
        ) 
        WHERE match_id=#{matchId}
    </update>
    <update id="updateMarkWork" parameterType="KyfzExpert">
        UPDATE kyfz_match
        SET mark_work = CONCAT_WS('、', 
        CASE 
            WHEN mark_work IS NULL OR TRIM(mark_work) = '' THEN NULL 
            ELSE TRIM(BOTH ' ' FROM mark_work) 
        END, 
        #{markWork}
        ) 
        
        WHERE match_id=#{matchId}
    </update>
    <update id="updateMarkThesis" parameterType="KyfzExpert">
        UPDATE kyfz_match
        SET mark_thesis = CONCAT_WS('、', 
        CASE 
            WHEN mark_thesis IS NULL OR TRIM(mark_thesis) = '' THEN NULL 
            ELSE TRIM(BOTH ' ' FROM mark_thesis) 
        END, 
        #{markThesis}
        ) 
        WHERE match_id=#{matchId}
    </update>
    <update id="updateMarkCertificate" parameterType="KyfzExpert">
        UPDATE kyfz_match
        SET mark_certificate = CONCAT_WS('、', 
            CASE 
                WHEN mark_certificate IS NULL OR TRIM(mark_certificate) = '' THEN NULL 
                ELSE TRIM(BOTH ' ' FROM mark_certificate) 
            END, 
            #{markCertificate}
        ) 
        WHERE match_id = #{matchId}
    </update>
    <update id="deleteMarkProject" parameterType="KyfzExpert">
        UPDATE kyfz_match
        SET mark_project = REPLACE(
            REPLACE(
            REPLACE(
                REPLACE(
                mark_project,
                CONCAT('、', #{markProject}, '、'),
                '、'
                ),
                CONCAT(#{markProject}, '、'),
                ''
            ),
            CONCAT('、', #{markProject}),
            ''
            ),
            CONCAT('、', REPLACE(#{markProject}, '、', '')),
            REPLACE(#{markProject}, '、', '')
        )
        WHERE match_id=#{matchId}
    </update>
    <update id="deleteMarkWork" parameterType="KyfzExpert">
        UPDATE kyfz_match
        SET mark_work = REPLACE(
            REPLACE(
            REPLACE(
                REPLACE(
                mark_work,
                CONCAT('、', #{markWork}, '、'),
                '、'
                ),
                CONCAT(#{markWork}, '、'),
                ''
            ),
            CONCAT('、', #{markWork}),
            ''
            ),
            CONCAT('、', REPLACE(#{markWork}, '、', '')),
            REPLACE(#{markWork}, '、', '')
        )
        WHERE match_id=#{matchId}
    </update>
    <update id="deleteMarkThesis" parameterType="KyfzExpert">
        UPDATE kyfz_match
        SET mark_thesis = REPLACE(
            REPLACE(
            REPLACE(
                REPLACE(
                mark_thesis,
                CONCAT('、', #{markThesis}, '、'),
                '、'
                ),
                CONCAT(#{markThesis}, '、'),
                ''
            ),
            CONCAT('、', #{markThesis}),
            ''
            ),
            CONCAT('、', REPLACE(#{markThesis}, '、', '')),
            REPLACE(#{markThesis}, '、', '')
        )
        WHERE match_id=#{matchId}
    </update>
    <update id="deleteMarkCertificate" parameterType="KyfzExpert">
        UPDATE kyfz_match
        SET mark_certificate = REPLACE(
            REPLACE(
            REPLACE(
                REPLACE(
                mark_certificate,
                CONCAT('、', #{markCertificate}, '、'),
                '、'
                ),
                CONCAT(#{markCertificate}, '、'),
                ''
            ),
            CONCAT('、', #{markCertificate}),
            ''
            ),
            CONCAT('、', REPLACE(#{markCertificate}, '、', '')),
            REPLACE(#{markCertificate}, '、', '')
        )
        WHERE match_id=#{matchId}
    </update>
    <select id="selectKyfzMatchMark" parameterType="Long" resultMap="KyfzExpertResult">
        select match_id,mark_project,mark_certificate,mark_thesis,mark_work 
        from kyfz_match
        where match_id=#{matchId}
    </select>
    <!-- 专家账号列表查询专家id -->
    <select id="selectKyfzExpertIdsList" parameterType="String" resultMap="KyfzExpertResult">
    select expert_id,expert_name from kyfz_expert where expert_account in
        <foreach item="expertAccount" index="index" collection="array" open="(" separator="," close=")">
            #{expertAccount}
        </foreach>
    </select>
    <!-- 检索模块搜索 -->
    <select id="searchExperts" parameterType="KyfzExpert" resultMap="KyfzExpertResult">
        <include refid="selectKyfzExpertVo"/>
        <where>
            <if test="expertName != null  and expertName != ''"> or expert_account like concat('%', #{expertName}, '%')</if>
            <if test="expertName != null  and expertName != ''"> or expert_name like concat('%', #{expertName}, '%')</if>
            <if test="expertName != null  and expertName != ''"> or expert_position like concat('%', #{expertName}, '%')</if>
            <if test="expertName != null  and expertName != ''"> or expert_affiliation like concat('%', #{expertName}, '%')</if>
            <if test="expertName != null  and expertName != ''"> or primary_discipline like concat('%', #{expertName}, '%')</if>
            <if test="expertName != null  and expertName != ''"> or secondary_discipline like concat('%', #{expertName}, '%')</if>
            <if test="expertName != null  and expertName != ''"> or tertiary_discipline like concat('%', #{expertName}, '%')</if>
            <if test="expertName != null  and expertName != ''"> or research_direction like concat('%', #{expertName}, '%')</if>
            <if test="thesisId != null  and thesisId != ''"> and thesis_id = #{thesisId}</if>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="intellectualPropertyId != null  and intellectualPropertyId != ''"> and intellectual_property_id = #{intellectualPropertyId}</if>
            <if test="awardsId != null  and awardsId != ''"> and awards_id = #{awardsId}</if>
            <if test="requirementId != null  and requirementId != ''"> and requirement_id = #{requirementId}</if>
            <if test="expertName != null  and expertName != ''"> or expert_teams like concat('%', #{expertName}, '%')</if>
            <if test="categoryId != null and categoryId != ''"> AND FIND_IN_SET(#{categoryId}, SUBSTRING_INDEX(category_id, '、', -1))</if>
        </where>
            ORDER BY CASE
                WHEN expert_position = '教授' THEN 0
                WHEN expert_position = '副教授' THEN 1
                WHEN expert_position = '主任医师' THEN 2
                WHEN expert_position = '主治医师' THEN 3
                WHEN expert_position = '医师' THEN 4
                WHEN expert_position = '讲师（高校）' THEN 5
                ELSE 6 
            END
    </select>
</mapper>