<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kyfz.mapper.TQyxqMapper">
    
    <resultMap type="TQyxq" id="TQyxqResult">
        <result property="id"    column="id"    />
        <result property="qyId"    column="qy_id"    />
        <result property="mc"    column="mc"    />
        <result property="gjc"    column="gjc"    />
        <result property="xxmc"    column="xxmc"    />
        <result property="fbsj"    column="fbsj"    />
        <result property="xqzt"    column="xqzt"    />
        <result property="creatBy"    column="creat_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTQyxqVo">
        select id, qy_id, mc, gjc, xxmc, fbsj, xqzt, creat_by, create_time, update_by, update_time from t_qyxq
    </sql>

    <select id="selectTQyxqList" parameterType="TQyxq" resultMap="TQyxqResult">
        <include refid="selectTQyxqVo"/>
        <where>  
            <if test="qyId != null "> and qy_id = #{qyId}</if>
            <if test="mc != null  and mc != ''"> and mc = #{mc}</if>
            <if test="gjc != null  and gjc != ''"> and gjc = #{gjc}</if>
            <if test="xxmc != null  and xxmc != ''"> and xxmc = #{xxmc}</if>
            <if test="fbsj != null "> and fbsj = #{fbsj}</if>
            <if test="xqzt != null  and xqzt != ''"> and xqzt = #{xqzt}</if>
            <if test="creatBy != null "> and creat_by = #{creatBy}</if>
        </where>
    </select>
    
    <select id="selectTQyxqById" parameterType="Long" resultMap="TQyxqResult">
        <include refid="selectTQyxqVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTQyxq" parameterType="TQyxq" useGeneratedKeys="true" keyProperty="id">
        insert into t_qyxq
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qyId != null">qy_id,</if>
            <if test="mc != null and mc != ''">mc,</if>
            <if test="gjc != null">gjc,</if>
            <if test="xxmc != null">xxmc,</if>
            <if test="fbsj != null">fbsj,</if>
            <if test="xqzt != null and xqzt != ''">xqzt,</if>
            <if test="creatBy != null">creat_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qyId != null">#{qyId},</if>
            <if test="mc != null and mc != ''">#{mc},</if>
            <if test="gjc != null">#{gjc},</if>
            <if test="xxmc != null">#{xxmc},</if>
            <if test="fbsj != null">#{fbsj},</if>
            <if test="xqzt != null and xqzt != ''">#{xqzt},</if>
            <if test="creatBy != null">#{creatBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTQyxq" parameterType="TQyxq">
        update t_qyxq
        <trim prefix="SET" suffixOverrides=",">
            <if test="qyId != null">qy_id = #{qyId},</if>
            <if test="mc != null and mc != ''">mc = #{mc},</if>
            <if test="gjc != null">gjc = #{gjc},</if>
            <if test="xxmc != null">xxmc = #{xxmc},</if>
            <if test="fbsj != null">fbsj = #{fbsj},</if>
            <if test="xqzt != null and xqzt != ''">xqzt = #{xqzt},</if>
            <if test="creatBy != null">creat_by = #{creatBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTQyxqById" parameterType="Long">
        delete from t_qyxq where id = #{id}
    </delete>

    <delete id="deleteTQyxqByIds" parameterType="String">
        delete from t_qyxq where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>